@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --primary-color: #687ce8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F4F9FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 380px;
  margin: 25px auto;
}

.balance-container {
  background-color: #FFFFFF;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
}

.primary-color {
  color: var(--primary-color);
}

.text-green {
  color: #6fc96e;
}

.text-red {
  color: #d46464;
}